.App {
  text-align: center;
}

body {
  background: hsl(28,80%,90%);
  font-family: 'Bangers', cursive;
}
#drum-machine {
  width: 60%;
  height: auto;
  min-height: 350px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left:  auto;
  border-radius: 8px;
  border: 1px solid rgb(230, 117, 18);
  padding: 1%;
  background: hsl(28,80%,70%);
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
  grid-template-areas: 
  "Play Controls";
}
#DivDisplayPadBank
{

}
#DivControlPanel
{

}
#display{
  background-color: #AED6F1;
  height: 60px;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid rgb(11, 120, 192);
}
.pad-bank{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 10px;
  min-height: "240px";
  height: "auto";
  padding-left: 5%;
  padding-right: 5%;
}
#controls{
  background: rgb(230, 116, 17);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 80px;
  grid-template-rows: 40px 40px 40px;
  row-gap: 20px; 
  column-gap: 20px;
  grid-template-areas: 
  "OnOff"
  "Banks"
  "Volumen";
  height: 100%;
  min-width: 150px;
  padding: 10%;
}
#onOffSelector
{
   padding-top: 3px;
   padding-bottom: 3px;
   margin-left: 40%;
}
#bankSelector
{
   padding-top: 3px;
   padding-bottom: 3px;
   margin-left: 40%;
}
#volumen
{
  grid-column: 1 / 2;
  margin-left: 20%;
}
#volumen-range
{
  color: #34A7C1;
}
/* ********************************************************* @medias    */
@media (min-width: 860px)
{
  #controls
  {
    grid-template-columns: repeat(auto-fill,minmax(80px, 1fr));
    grid-template-rows: 40px 40px;
    padding: 10%;
    min-width: 240px;
  }
  #drum-machine
  {
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    grid-template-areas: 
    "Play Controls";
  }
  #onOffSelector
  {
    margin-left: 0%;
  }
  #bankSelector
  {
    margin-left: 0%;
  }
  #volumen
  {
    grid-column: 1 / 3;
    margin-left: 0%;
  }
}
@media (min-width: 1100px)
{
  #controls
  {
    grid-template-columns: repeat(auto-fill,minmax(80px, 1fr));
    grid-template-rows: 40px 40px;
    padding: 20%;
    min-width: 300px;
  }
  #drum-machine
  {
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    grid-template-areas: 
    "Play Controls";
  }
  #onOffSelector
  {
    margin-left: 0%;
  }
  #bankSelector
  {
    margin-left: 0%;
  }
  #volumen
  {
    grid-column: 1 / 3;
    margin-left: 0%;
 }
}

/* ****************************************************** On/Off FlipSwitch styled by https://proto.io/freebies/onoff/  */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/* ************************* */
.onoffswitch2 {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox2 {
  display: none;
}
.onoffswitch-label2 {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner2 {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner2:before {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner2:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner2:before {
  content: "Bank 1";
  padding-right: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner2:after {
  content: "Bank 2";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch2 {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
  margin-left: 0;
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
  right: 0px; 
}
/* ******************************************************************************************************* */